pipeline/Bronze Pipeline Extract.json
{
	"name": "Bronze Pipeline Extract",
	"properties": {
		"description": "using Spark",
		"activities": [
			{
				"name": "txmykw01",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSQLTableParam",
						"type": "DatasetReference",
						"parameters": {
							"fqdn": {
								"value": "@pipeline().parameters.src_address",
								"type": "Expression"
							},
							"db_name": {
								"value": "@pipeline().parameters.src_db",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetOut",
						"type": "DatasetReference",
						"parameters": {
							"FileSystem": "bronze",
							"Directory": "salesrusdb1",
							"FileName": "txmykw01"
						}
					}
				]
			},
			{
				"name": "txmykw01 to bronze",
				"type": "SynapseNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "txmykw01",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "txmykw01",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpool1",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": false,
						"spark.dynamicAllocation.minExecutors": 2,
						"spark.dynamicAllocation.maxExecutors": 2
					},
					"driverSize": "Small",
					"numExecutors": 2
				}
			},
			{
				"name": "Get current execution time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineStart",
					"value": {
						"value": "@formatDateTime(convertFromUtc(utcNow(),'Central Standard Time'), 'MM-dd-yyyy_HH-mm-ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM control.dbo.elt_metadata\nWHERE load_type = '@{pipeline().parameters.load_type}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "serverless_table_v2",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "elt_metadata",
							"db": "control"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get current execution time",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup metadata').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "txmykw01_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM @{pipeline().parameters.src_schema}.item().src_table",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSQLTableParam",
									"type": "DatasetReference",
									"parameters": {
										"fqdn": {
											"value": "@pipeline().parameters.src_address",
											"type": "Expression"
										},
										"db_name": {
											"value": "@pipeline().parameters.src_db",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetOut",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"src_address": {
				"type": "string",
				"defaultValue": "nmdemosqldb.database.windows.net"
			},
			"src_db": {
				"type": "string",
				"defaultValue": "salesrusdb1"
			},
			"src_schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"src_table": {
				"type": "string",
				"defaultValue": "txmykw01"
			},
			"src_incr_col": {
				"type": "string",
				"defaultValue": "n/a"
			},
			"tgt_lakehouse": {
				"type": "string",
				"defaultValue": "salesrusdb1_raw"
			},
			"tgt_extract_name": {
				"type": "string",
				"defaultValue": "txmykw01"
			},
			"key_columns": {
				"type": "string",
				"defaultValue": "n/a"
			},
			"load_type": {
				"type": "string",
				"defaultValue": "full"
			},
			"watermark": {
				"type": "string",
				"defaultValue": "n/a"
			}
		},
		"variables": {
			"PipelineStart": {
				"type": "String"
			}
		},
		"folder": {
			"name": "E2E Parameterized/Bronze"
		},
		"annotations": []
	}
}