pipeline/Copy Entire Directoy Param.json
{
	"name": "Copy Entire Directoy Param",
	"properties": {
		"activities": [
			{
				"name": "LookupParams",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlPoolTable",
						"type": "DatasetReference",
						"parameters": {
							"SqlPoolSchema": "control",
							"SqlPoolTableName": "ControlTableDataLake"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupParams",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupParams').output",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy Entire Container Example",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SourcePathContainer": {
										"value": "@item().value.SourceContainer",
										"type": "Expression"
									},
									"TgtPathContainer": {
										"value": "@item().value.TgtContainer",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}