pipeline/Pause Unpause SQL Pool.json
{
	"name": "Pause Unpause SQL Pool",
	"properties": {
		"activities": [
			{
				"name": "Get List",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools?api-version=2021-06-01')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "ServicePrincipal",
						"userTenant": "16b3c013-d300-468d-ac64-7eda0820b6d3",
						"username": "1c15fd52-948b-4f71-b4bc-1d2dcd2eba26",
						"resource": "https://management.azure.com/",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "nmdemokv1",
								"type": "LinkedServiceReference"
							},
							"secretName": "demosp"
						}
					}
				}
			},
			{
				"name": "Filter Pools",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get list').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(endswith(item().name,'prod'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_pool",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Pools",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Pools').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ResourceGroup": {
				"type": "string",
				"defaultValue": "rg_synapse"
			},
			"SubscriptionID": {
				"type": "string",
				"defaultValue": "8a936955-932a-425a-8c07-f6035412c4a1"
			},
			"WorkspaceName": {
				"type": "string",
				"defaultValue": "nmdemosynapse"
			},
			"SQLPoolName": {
				"type": "string",
				"defaultValue": "SQLPool1"
			},
			"PauseorResume": {
				"type": "string",
				"defaultValue": "Pause"
			}
		},
		"annotations": []
	}
}